$pad-map: ("desktop": 3rem, "tablet": 2rem, "mobile": 1rem);

@mixin page-padding {
    padding: 0 map-get($pad-map, "desktop") 0 map-get($pad-map, "desktop");

    @include mobile {
        padding: 0 map-get($pad-map, "mobile") 0 map-get($pad-map, "mobile");
    }
}

@mixin page-right {
    right: map-get($pad-map, "desktop");

    @include mobile {
        right: map-get($pad-map, "mobile");
    }
}