

<h2>Install git command line tool</h2>

<ol>
  <li>Download <a href="https://git-scm.com/downloads" target="_blank">git command line</a></li>
</ol>

<h2>Prerequisites: signup for an email</h2>

<ol>
  <li>Go to <a href="https://www.github.com" target="_blank">Github</a></li>
  <li>Sign up with your email</li>
  <li>Capcha test</li>
  <li>Subscription level (free is fine)</li>
  <li>Verify your email, remember your passwords</li>
</ol>

<h2>Code Storage</h2>

<ol>
  <li>Log into your <a href="https://www.github.com" target="_blank">Github</a> account</li>
  <li>Start a new Repository</li>
  <li>Give your project a name: foundation</li>
  <li>leave other options at default</li>
  <li>you will get a repository url, copy it</li>
  <li>you'll need a folder to store your code</li>
  <li>once you have a folder</li>
  <li>
    open a command window and type
    <ul>
      <li>
        <code>git clone https://github.com/user/project.git</code>
      </li>
    </ul>
  </li>
</ol>
