<h2>Variables</h2>

<p>A variable is like a box.  You can put something in the box and take it out.</p>


<ul class="code">
  <li><code>var box</code></li>
  <li><code>box = "cat"</code></li>
  <li><code>box</code></li>
</ul>

<p>You can define as many variables are you need</p>

<ul class="code">
  <li><code>var bin</code></li>
  <li><code>bin = "toy"</code></li>
  <li><code>bin</code></li>
</ul>

<p>and then call those variables again</p>

<ul class="code">
  <li><code>box</code></li>
  <li><code>bin</code></li>
</ul>

<p>You can put another thing in your variable</p>

<ul class="code">
  <li><code>box = "dog"</code></li>
  <li><code>box</code></li>
</ul>

<p>What's in the bin?</p>
<p>What's in the box?</p>
