
<fdn-grid [cols]="3" [columnSizes]="'3fr 1fr 1fr'">
  <h2 fdn-grid-item [col]="1">Growcery List</h2>
  
  <div fdn-grid-item [col]="2">
    <button (click)="addItem()">Add</button>
  </div>

  <div fdn-grid-item [col]="3">
    <button (click)="showFilters()">Filters</button>
  </div>
</fdn-grid>


<fdn-grid [cols]="7" [columnSizes]="colSizes">
  <!-- Headers -->
  <div fdn-grid-item [col]="1" class="grw-header growcery-item">Item</div>
  <div fdn-grid-item [col]="2" class="grw-header growcery-price">Regular</div>
  <div fdn-grid-item [col]="3" class="grw-header growcery-sale">Sale</div>
  <div fdn-grid-item [col]="4" class="grw-header growcery-bulk">Bulk</div>
  <div fdn-grid-item [col]="5" class="grw-header growcery-weight">weight</div>
  <div fdn-grid-item [col]="6" class="grw-header growcery-unit">unit</div>

  <!-- Data -->
  <ng-container *ngFor="let item of growceryList$ | async">
    <div fdn-grid-item [col]="1">{{ item.name }}</div>
    <div fdn-grid-item [col]="2">{{ item.regular }}</div>
    <div fdn-grid-item [col]="3">{{ item.sale }}</div>
    <div fdn-grid-item [col]="4">{{ item.bulk }}</div>
    <div fdn-grid-item [col]="5">{{ item.weight }}</div>
    <div fdn-grid-item [col]="6">{{ item.unit }}</div>
    <div fdn-grid-item [col]="7"><button (click)="remove(item)">remove</button></div>
  </ng-container>
</fdn-grid>