<fdn-grid [cols]="3" [columnSizes]="colSizes" class="main">
  <div    fdn-grid-item [debug]="false" [col]="1" [row]="1" class="nav-item"
    (click)="toggleSide()"
  >Header Logo Cell</div>
  <header fdn-grid-item [debug]="false" [col]="2" [row]="1">Javascript to Web App</header>
  <div    fdn-grid-item [debug]="false" [col]="3" [row]="1">Login Panel</div>

  <nav fdn-grid-item [debug]="false" [col]="1" [row]="2" class="nav-item">
    <a href="#" routerLink="/github">Github</a>
    <a href="#" routerLink="/javascript">Javascript</a>
    <a href="#" routerLink="/html">Html</a>
    <a href="#" routerLink="/css">Css</a>
    <a href="#" routerLink="/typescript">Typescript</a>
    <a href="#" routerLink="/angular">Angular</a>
    <a href="#" routerLink="/chess">Chess</a>
    <a href="#" routerLink="/firestore">Firebase</a>
    <a href="#" routerLink="/d3">D3</a>
  </nav>

  <main fdn-grid-item [debug]="false" [col]="2" [colSpan]="2" [row]="2">
    <router-outlet></router-outlet>
  </main>
</fdn-grid>
