@import '_media';

$unit: 8px;

nav {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;

    a {
        margin: $unit;
    }
}

.button-container {
    position: fixed;
    z-index: 10;
    width: 100%;
    @include mobile {
        position: relative;
    }

    button {
        background: none;
        border: none;
        height: 24px;
        margin: 8px;
    }

    .fdn-skip {
        position: fixed;
        width: 100%;
        background: rgba(255, 185, 0, 0.5);
    }
}

header {
    display: flex;
}

main {
    min-height: 100vh;
}
