<div class="button-container">
  <button
    class="fdn-skip"
    [class.accessible]="!showSkip"
    (focus)="showSkip = true"
    (blur)="showSkip = false"
    (click)="skipToMain()">
    Skip to Main Content
  </button>
  <button (click)="navOpen = !navOpen" [attr.aria-expanded]="navOpen">
    <svg width="24px" height="24px">
      <rect
        x="0"
        y="0"
        [attr.width]="24"
        [attr.height]="24"
        [attr.fill]="'#000'">
      </rect>
      <rect [@nav]="navOpen"
        x="3"
        y="3"
        [attr.width]="navOpen ? 7 : 2"
        [attr.height]="18"
        [attr.fill]="'#FC0'">
      </rect>
    </svg>
    <span class="accessible">navigation</span>
  </button>
</div>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" [opened]="navOpen">
    <nav>
      <a href="#" routerLink="/github">Github</a>
      <a href="#" routerLink="/js">Javascript</a>
      <a href="#" routerLink="/web">Web</a>
      <a href="#" routerLink="/typescript">Typescript</a>
      <a href="#" routerLink="/angular">Angular</a>
      <a href="#" routerLink="/chess">Chess</a>
      <a href="#" routerLink="/trading">Trading</a>
      <a href="#" routerLink="/d3">D3</a>
    </nav>
  </mat-drawer>
  <mat-drawer-content>
    <header>
      <h1 #title tabindex="-1">{{ page }}</h1>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-content>
</mat-drawer-container>