<h2>My Own Web Page</h2>

<section>
  <p>In this section, we're going to learn about creating a page, that anyone in the world can visit.</p>
  <p>We'll start with a simple options that are free.</p>
  <p>Note: These options are free, but have certain limits.</p>
  
  <h3>Deploying to Github</h3>
  
  <p>We learned about Github in another section of this website.</p>
  <p>It's where we're storing all of our code and also a platform for collaborating with other people.</p>
  
  <h3>Deploying to Firebase</h3>

  <p>Firebase is an advanced topic</p>
</section>

